 body {
     height: 800px;
 }

 table {
     width: 100%;
 }

 th {
     background-color: #cecece;
 }

 table,
 th,
 td {
     margin: 0 auto;
     border: 1px solid gray;
     border-spacing: 0;
     text-align: center;
 }

 a {
     color: #000;
 }
 
 .tx-left {
    text-align: left;
 }